<div class="page-subheader mb-30">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-7">
              <div class="list">
                  <div class="list-item pl-0">
                      <div class="list-body">
                          <div class="list-title fs-2x">
                              <h3> <%= resources_inquiries.capitalize %></h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>