

<div class="page-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
              <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
                  <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                      <div class="flex d-flex flex-column">
                          <h3>Edit Inquiry</h3> 
                          <span class="portlet-subtitle"></span>
                      </div>
                  </div>
                  <%= render 'form', inquiry: @inquiry %>
              </div><!--portlet--> 
          </div>
          <div class="col-lg-3"></div>
      </div><!--row-->
  </div>
</div>

